* Name
* Due Date
* My Favorite Things 
*/

/* The universal selector */

* {

}

/* Body properties here */

body {

}

img  {height:200px;
      width: 300px;
}

#icecream {width: 200px; height: 200px;}

figure { float: right;}